<mat-toolbar color="primary">
    
    <div>
        <a routerLink="/menu"><h1>Foodshala</h1></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/project">Projects</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
            <li>
                Hi! {{name}}
            </li>
        </ul>
    </div>
  </mat-toolbar>