<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="background table-responsive form-group" style="overflow-x: auto;" >
    <table style="border-collapse: none !important; padding: 1%;" class=" table table-borderless">
        <tbody>
            <tr>
                <td>
                  <h1 style="font-size: 60px; color: white; ">Signup as:</h1>    
                </td>
            </tr>
            <tr >
                <td scope="col" style="padding-left: 15%;">
                    <button class="btn btn-primary" style=" font-size: 20px;" (click)="OnClickRes()">Restaurant</button> 
                </td>
                <td scope="col">
                    <button class="btn btn-primary" style="font-size: 20px;" (click)="OnClickCust()">Customer</button> 
                </td>
            </tr>
        </tbody>      
    </table>  
  </div>
  
  